<mat-card>
  <div class="row">
    <div class="col-md-8">
        <h1 class="header">Teams</h1>
    </div>
    <div class="col-md-4">
        <button id="invitations" mat-button (click)="onInvitationsPressed()">View Team Invitations</button>
        <button id="create" mat-button (click)="onCreatePressed()">Create Team</button>
    </div>  
  </div>
  <hr />
  <p class="header">Manage your teams and invite members to your teams via the manage button.</p>
  <table mat-table [dataSource]="teams" class="mat-elevation-z0" id="teamTable">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description. </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
  
    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef> Color </th>
      <td mat-cell *matCellDef="let element"> {{element.color}} </td>
    </ng-container>
  
    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef> Created At </th>
      <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-button (click)="onManage(element.id)" id="manage">Manage</button>
          <button mat-button (click)="onDelete(element.id)" id="delete">Delete</button>
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
