/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

#form {
    margin-top: 8px;
}

#submit {
    background-color: lightgreen;
    width: 100%;
}

#cancel {
    background-color: lightcoral;
    width: 100%;    
}

#form-buttons {
    margin-top: 70px;
}

.mat-form-field {
    width: 100%;
}

.mat-card {
    width: 90%;
    margin-left: 3%;
    margin-right: 5%;
}
