<h1 class="header">Tasks</h1>
<hr class="seperator" />
<button mat-stroked-button (click)="onCreatePressed()">Create Task</button>
<div *ngFor="let task of tasks">
  <div>
    <mat-card class="mat-elevation-z10" id="task-card">
      <div class="row">
        <div class="col-md-6" id="left">
          <div id="large">
            <div class="row">
              <div class="col-md-1">
                <div id="status"></div>
              </div>
              <div class="col-md-11">
                <h4 class="task-header">{{task.title}}</h4>
                <p class="task-body">{{task.body}}</p>
              </div>
            </div>
          </div>
          <div id="small">
            <h4 class="task-header">{{task.title}}</h4>
            <p class="task-body">{{task.body}}</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <h4 class="task-header">89%</h4>
            <mat-progress-bar class="example-margin" [color]="lightblue" [mode]="determinate" [value]="50"
              [bufferValue]="75">
            </mat-progress-bar>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h4>Tags</h4>
          <div class="tag_box">
            <ul class="tags">
              <li *ngFor="let tag of task.tags" [ngStyle]="{'background-color': tag.color}"
                (click)="removeTag(task.id, tag.id)">
                {{tag.name}}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button mat-stroked-button class="control_btn" style="background-color: #c90000; color: white" (click)="deleteTask(task)">Delete</button>
          <button mat-stroked-button class="control_btn" (click)="editTask(task)">Edit</button>
        </div>
      </div>
      <!-- Removed until implementation of subtasks feature
      <button mat-button class="collapsible" (click)="collapse(task.id)">Subtasks</button>
      <div id="content_{{task.id}}" style="padding: 0 18px;
            display: none;
            overflow: hidden;
            height: 200px;
            background-color: #f1f1f1;">
        <p>Lorem ipsum...</p>
      </div>
    -->
    </mat-card>

  </div>

</div>