#pending {
    width: 100%;
}

#pendingInvitations {
    margin-top: 8px;
}

#members {
    width: 100%;
}

#membersContainer {
    margin-top: 8px;
}

#docsContainer {
    margin-top: 8px;
}

#leave {
    float: right;
}

#remove {
    background-color: salmon;
    padding-bottom: 5px;
}

#promote {
    background-color: lightgreen;
    padding-bottom: 5px;
}

#demote {
    background-color: darkorange;
    padding-bottom: 5px;
}