<mat-card id="form">
  <mat-card-header>
    <h1>Create new task</h1>
  </mat-card-header>
  <mat-card-content>
      <mat-form-field>
        <h4>Title</h4>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <h4>Body</h4>
        <input matInput>
      </mat-form-field>

      <div class="row">
        <div class="col-md-6">
          <h4>Expected Duration (hrs)</h4>
          <mat-slider min="0" max="10" step="1" value="2" thumbLabel tickInterval="1"></mat-slider>
        </div>
        <div class="col-md-6">
          <h4>Expected Duration (min)</h4>
          <mat-slider min="0" max="59" step="1" value="3" thumbLabel tickInterval="1"></mat-slider>
        </div>
      </div>

      
      <div class="row" id="form-buttons">
          <div class="col-sm-6">
            <button mat-button id="submit">Submit</button>
          </div>
          <div class="col-sm-6">
            <button mat-button id="cancel">Cancel</button>
          </div>
        </div>
      

      
  </mat-card-content>
</mat-card>