h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }

  div.square {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
  }

  div.legend_box {
    padding: 7px 0 7px 5px;
    border-width: 1px;
    margin: 5px 0 5px 0
  }

  div.legend_unit {
    width: 120px;
    display: inline-block;

  }

  div.legend_unit p {
    margin: 2px 0 0 0;
  }

  #home {
    margin-top: 40px;
    float: right;
  }
  