.body {
    width: 90%;
    margin-right: 5%;
    margin-top: 8px;
    margin-left: 40px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.theme-wrapper {
    margin-left: 40px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}