<mat-card-title style="text-align:left;">{{'{'}}username{{'}'}}'s Profile</mat-card-title>
<hr class="seperator" />
<mat-card-content class="main_content">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-4">
            <mat-card class="detail">
                <mat-card-title style="color: black;"># of Completed Tasks</mat-card-title>
                <mat-card-content>{{'{'}}value{{'}'}}</mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="detail">
                <mat-card-title style="color: black;"># of Current Tasks</mat-card-title>
                <mat-card-content>{{'{'}}value{{'}'}}</mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row top-buffer">
            <div class="col-md-4">
                <mat-card class="detail">
                    <mat-card-title style="color: black;">Estimation Accuracy</mat-card-title>
                    <mat-card-content>{{'{'}}value{{'}'}}</mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="detail">
                    <mat-card-title style="color: black;">Something else</mat-card-title>
                    <mat-card-content>Maybe a chart?</mat-card-content>
                </mat-card>
            </div>
        </div>

</mat-card-content>